<div class="container" style=" width:70%;"> 
<h1 class="text-center p-2"> About </h1> 
<br/>
<h4> The site was inspired by my love for Cocktails and bar culture. I will continue to alter the site and add new features to improve the experience. If you have any issues or ideas you would like to express feel free to send me a message on the contact page. </h4 >
</div>