<div id="home-div" class="container" style="height:90%; width:90%;">   
    <br/> 
<div class="d-flex justify-content-center "> 
    <br/> 
  <div class="card text-center">  
    <div class="card-body"> 
    <h1> Shaken or Stirred? </h1>   
    <%= link_to 'View Cocktails', cocktails_path,class:"text-decoration-none btn btn-dark m-1"%> 
    <div>
  </div> 
</div>
</div>



  
